.row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.letter {
  padding: 15px;
  background-color: lightgray;
  border-radius: 5px;

  font-weight: 700;
}

.letter.correct,
.letter.misplaced,
.letter.incorrect {
  color: white;
}

.correct {
  background-color: rgb(77, 135, 77);
}

.misplaced {
  background-color: rgb(146, 146, 15);
}

.incorrect {
  background-color: rgb(96, 93, 93);
}
